/* #region Main */
:root {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f6f7f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 375px;
    padding: 0 24px;
    margin: 0 auto;
}

/* #endregion Main */

/* #region Header */
.header {
    padding: 0 0 148px 0;
    background-color: #fff;
}

.header .container {
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: #3563E9;
    font-size: 24px;

    padding: 32px 0;
}

.profile-img {
    width: 28px;
    height: 28px;

    border-radius: 50%;
}

.nav-search {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    position: relative;
}

.nav-search-input {
    border-radius: 10px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    padding: 12px 0 12px 56px;

    min-height: 48px;
}

.nav-search-input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #596780;
}

.nav-search-input {
    flex-grow: 1;
}

.search-icon {
    position: absolute;
    left: 24px;
    top: 12px;

    stroke: #596780;
    fill: none;

    cursor: pointer;
}

.filter-button {
    width: 48px;
    height: 48px;

    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

}

.filter-icon {
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: #596780;
    fill: none;

}


/* #endregion Header */

/* #region Hero */

.hero {
    margin-top: -116px;
}

.hero-wrapper {
    padding: 16px 0 0 16px;
    min-height: 232px;
    background-color: #54A6FF;
    border-radius: 10px;

    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
}

.hero-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fff;

    margin-bottom: 12px;
}

.hero-text {
    max-width: 216px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: #fff;

    margin-bottom: 16px;
}

.hero-button {
    border-radius: 4px;
    padding: 0px 20px;
    width: 128px;
    height: 44px;

    color: #fff;
    background-color: #3563E9;
}